<div class="show">
<div class="username"><%=@message.user%> said:</div>
<div class="message_body">
	<%= @message.body %>
</div>

<div>
<%=form_for([@message,Reply.new(:message_id => @message.id)]) do |f| %>
	Have something to say? <%=f.text_field(:body, :style=>"width: 100%")%>
	<div style="text-align:right"><%= f.submit "Say It!"%></div>
<%end%>	
</div>

<ul >
	<li class="reply_count">
		<strong><%= pluralize(@message.replies.count, 'reply')%></strong>
	</li>
<% @message.replies.reverse.each do |reply| %>
	<li >
		<%=reply.body%>
		<div class="reply_info">
			<div class="reply_user" style="float:left; width: 44%"><%=reply.user%></div>
			<div class="timestamp" style="float:right; width: 50%"><%=time_ago_in_words(reply.created_at)%> ago</div>
			<div style="clear:both"></div>
		</div>
	</li>
<%end%>
</ul>
<%= link_to '<< Back to Messages', messages_path %>

</div>