<h2> Signup page (<%=link_to "Login", new_session_path%>)</h2>

<%=@errors%>
<%=form_for User.new do |f|%>
<p>
  Name: <%=f.text_field :name%>
</p>

<p>
  Password: <%=f.password_field :password%>
</p>

<p>
  Confirmation: <%=f.password_field :password_confirmation%>
</p>

<%=submit_tag "Sign Up"%>

<%end%>